html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div class {
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  color: rgb(0, 0, 0);
  max-width: 600px;
  margin: 0 auto;
}

main {
  background-color: #bf7e04;
}

nav li {
  display: flex;
  justify-content: center;
}

nav a {
  color: #023373;
  text-decoration: none;
}

nav a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

nav a:hover {
  text-decoration: underline;
}

.floated {
  float: right;
}

:root {
  --dark-blue: #023373;
  --white: #fff;
  --horizontal-space: 15px 30px;
}

.container {
  position: relative width 50%;
}

.container img {
  width: 100%;
  height: auto;
}

button {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: var(--horizontal-space);
}

container {
  position: relative;
  width: 50%;
}

.container .btn {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #023373;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form__input {
  display: block;
}

.form__input {
  float: right;
}

.float {
  margin: 10px;
  float: left;
  width: 300px;
}

.clear {
  clear: left;
}

.img-front img {
  display: inline-block;
  margin: 55px;
  margin-bottom: 10px;
  justify-content: center;
  max-width: 100%;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.differentjackets img {
  display: inline-block;
  margin: 55px;
  margin-bottom: 10px;
  justify-content: center;
  max-width: 100%;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

.container5 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  margin-top: 2px;
}

.containerorange {
  display: flex;
}

.contact1 {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

.selectyoursize {
  display: flex;
}

.product1 {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

.productpics {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
}

.containerSuccess {
  display: flex;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

@media (min-width: 600px) and (max-width: 1200px) {
}

@media only screen and (min-with: 600px) {
}

@media (max-width: 480px) {
  .p {
    font-size: 16px;
  }
}
