body {
    background-color:#BF7E04;
}

h1 {
    color: rgb(0, 0, 0);
}

nav li {
    display: inline-flex;
    justify-content: space-around;
}

nav ul {
    padding: 0px;
}

nav a { 
color: #023373;
text-decoration: none
}

nav a {
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.floated{
    float: right;
}

div class
.floated {
    float: right;
}