html,
body {
  margin: 0px;
  padding: 0px;
}

header {
  background-image: url("/images/diego-ph-PtVN9fACsWU-unsplash.jpg");
  background-repeat: no-repeat, repeat;
  background-color: black;
  background-position: left;
  background-size: cover;
  object-fit: cover;
  font-family: "Abbaya Libre", sans-serif;
}

nav li {
  display: inline-block;
}

nav ul {
  padding: 0px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:active {
  background-color: royalblue;
}

h1 {
  color: blue;
}
h2 {
  color: red;
}

h1 + p {
  color: blue;
}

h2 + p {
  color: red;
}
